{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>BioPyPW</title>
</head>
<body>
    <div class="topo"></div>
    <header>
        
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="">
        </div>
        <div class="menu">
            <nav>
                <a class="links" href="{% url 'proteina' %}">PROTEÍNA</a> 
                <a class="links" href="{% url 'modelagem' %}">MODELAGEM</a>
                <a class="links" href="https://www.rcsb.org/" target="_blank">BANCO DE DADOS</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="esquerda">
            <p class="texto-esquerda"> 
            O SOFTWARE BIOPYPW REALIZA O ALINHAMENTO E MODELAGEM DE PROTEÍNAS, A FIM DE FACILITAR A ANÁLISE DE ESTRUTURAS  TRIDIMENSIONAIS DE  PROTEÍNAS E CONTRIBUIR PARA AVANÇOS PARA PESQUISA EM BIOLOGIA MOLECULAR. O PROGRAMA FAZ USO DOS FRAMEWORKS MODELLER, BLAST E CLUSTALW E DA LINGUAGEM DE PROGRAMAÇÃO PYTHON PARA FAZER A INTEGRAÇÃO DAS TRÊS FERRAMENTAS. TODOS OS DADOS, SÃO FORNECIDOS PELO BANCO DE DADOS PDB (PROTEIN DATA BANK), BANCO DE DADOS MUITO UTILIZADO NA BIOINFORMÁTICA.
            </p>
        </section>
        <section class="direita">
            <div class="imagens">
                <img src="{% static 'img/PROTEINA1.jpg' %}" alt="">
                
            </div>
            <img src="{% static 'img/proteina2.png' %}" alt="">
        
        </section>
        
    </main>   
    <a href="{% url 'modelagem' %}"><button>IR PARA A MODELAGEM</button></a>

    <footer>

    </footer>
</body>
</html>